// Here you can add other styles
$blue: #090827;
$yellow: #fff627;
$secondBlue: #20A8D8;

.navbar{
    background-color: $blue;
}

.sidebar{
    background-color: $blue;
}

.sidebar .nav-link.active {
    color: #fff;
    background: $secondBlue;
}

.sidebar .nav-link.active .nav-icon{
    color: #fff;
}